* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  flex-direction: column;
  justify-content: center;
  align-items    : center;
  position: relative;
  background     : url(../images/background.png) no-repeat top center/cover;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  display: none;
  position: fixed;
  
}
.container .vocab {
  color        : #888;
  font-size    : 120px;
  margin-bottom: 50px;
  text-align: center;
}

.container input {
  background-color: transparent;
  font-size       : 80px;
  outline         : none;
  border          : none;
  color           : white;
  text-align: center;
}

.container .wrong-red {
  color: rgb(255, 101, 101);

}

.container .right-green {
  color: rgb(97, 255, 97);
}


#file{
  opacity: 0;
}


.nutbam{
  border: solid black 2px;
  opacity: 0.8;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  color: rgb(32, 32, 32);
  background-color: rgb(181, 255, 206);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
.nutbam:hover{
  opacity: 1;
}


#vi {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 50px;
  transform: translateX(-50%);
  z-index: 10;
  display: none;
}

.thongbao{
  font-size: 30px; 
  color: white; 
  position: relative; 
  top: 380px;
}
